@use "../globals/colors";

@font-face {
    font-family: "LeagueSpartan";
    src: url("../fonts/LeagueSpartan-VariableFont_wght.ttf");
}

body {
    font-family: "LeagueSpartan", "Helvetica", sans-serif;

}

.hero-content__title {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
}

.hero-content__copy, .about__copy {
    color: colors.$grey-500;
    line-height: 1.3;
}

.content-link__title {
    text-decoration: none;
    text-transform: uppercase;
    color: colors.$black;
    letter-spacing: 8px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.content-link__title:hover {
    opacity: 0.5;
}

.about__title {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 6px;
    margin: 0;
}

.about__copy {
    margin-bottom: 0;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: colors.$black;
    font-weight: 500;
}



.desktop--nav-link {
    color: colors.$white;
    padding: .75rem 0;
    background-color: transparent;
}
 .desktop--nav-link:hover {
    opacity: 0.7;
    background: linear-gradient(colors.$white 0 0) center bottom / 100% 5px no-repeat;
    background-size: 50% 3px;
 }
