@media (min-width: 768px) {
   
   .header {
      padding: 2rem 0 2rem 2rem;
   }

   .hero__img {
    object-fit: cover;
    max-height: 400px;
    width: 100%;
   //  flex-grow: 1;
   }

   .carousel__buttons {
      width: 84px;
      height: 84px;
      padding: 1.5rem 2rem;
   }

   .hero-content__title {
      font-size: 3rem;
   }

   .content-link__title {
      justify-content: flex-start;
      gap: 1.5rem;
   }

   .hero__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 3rem;
}

   .mobile-menu {
   padding: 3rem;
}


.about {
   height: 300px;
   padding: 4rem;
}

.about__title {
   font-size: 1.25rem;
}

.main__img--dark, .main__img--light {
   object-fit: cover;
   width: 100%;
   height: 325px;
}

}

@media (min-width: 1400px) {

   .carousel {
      height: 534px;
      min-height: initial;
      
   }

   .header--mobile {
      display: none;
   }

   .header--desktop {
      display: flex;
   }

   .carousel__slide{
      flex-direction: row;
      
   }

   .main {
      display: grid;
      grid-template-columns: 1fr 1.25fr 1fr;
   }

   .hero__img {
      max-height: initial;
   }

   .hero__img--1 {
      content: url("../images/desktop-image-hero-1.jpg")
   }

   .hero__img--2 {
      content: url("../images/desktop-image-hero-2.jpg")
   }

   .hero__img--3 {
      content: url("../images/desktop-image-hero-3.jpg")
   }

   .hero__content {
      padding: 2rem 6rem;
      gap: 1rem;
      height: initial;
      
   }

   .carousel__button-box {
      right: -168px;
   }
}

@media (prefers-reduced-motion) {
   .carousel__track {
      transition: none;
   }
}