@use "../globals/colors";

.container {
    position: relative;
}

.hero-container {
    display: flex;
    width: 100vw;
    overflow: auto;
    position: relative;
}

.hero {
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-shrink: 0;
    
    
}

.header {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 50%;
    z-index: 1;
    top: 3rem;
    left: 1.5rem;
}

.hero-head {
    position: relative;
}

.hero__arrows {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.arrows {
    background-color: colors.$black;
    padding: 1rem;
}

.hero__content {
    padding: 2rem;
}

.content__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
}

.about {
    padding: 2rem;
}